<header class="jumbotron">

  <div id="header" class="container">
    <h1><span class="glyphicon glyphicon-picture"></span> Welcome To Greeting Card Edit!</h1>
    <strong>Choose One Picture From Our Free Pictures Pool</strong>
    <p>

      <input #userPhoto id="img_input2" type="file" accept="image/*" (change)="fileChangeEvent($event)" />
      <label for="img_input2" class="img_label2"><span class="glyphicon glyphicon-open"></span><span>Add Your Picture</span>
      </label>

    </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <div class="col-md-4 col-sm-6" *ngFor="let item of images">
    <div class="thumbnail">
      <img
          (click)="preview($event)"
          [src]="sanitize(item.img)"
          [ngStyle]="{ width: width + 'px', height: height + 'px' }"
        />
      <div class="caption"><h4></h4></div>      
    </div>
  </div>
</div>
