<header class="jumbotron">
  <div class="container">
      <h1><span class="glyphicon glyphicon-tent"></span> Welcome To YelpCamp!</h1>
      <p>View our hand-picked campgrounds from all over the world</p>
      <p>
          <input type="file" class = "upload">
         <button class="btn btn-primary btn-lg" (onclick) = "upload">Add New Campground</button>
      </p>
  </div>
</header>

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
     <div class="col-md-3 col-sm-6">
         <div class="thumbnail">
            <img src="">
            <div class="caption">
                <h4></h4>
            </div>
            <div *ngFor="let item of images">
                <span> {{item.img}}</span>
                <img  (click)="priview($event)" src="{{item.img}}" [ngStyle]="{'width': width,'height':height}"/>
            </div>
            <p> 
                <a href="" class="btn btn-primary">More Info</a>
            </p>
         </div>
     </div>
</div>