
<div class="container">
  <div class="row">
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-comment"></span> AddText</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-refresh"></span> Rotate</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-move"></span> Drag</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-resize-full"></span> Resize</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-scissors"></span> Crop</button>
    <button class="col-xs-2 border-bottom" (click) = "goToConfirm()"><span span class="glyphicon glyphicon-ok"></span>Confirm</button>
  </div>

</div>
<div class = "img">
    <canvas id="tutorial" width="150" height="150">
      
    </canvas>
</div>