

<div class="container">
  <div class="row">
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-comment"></span> AddText</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-refresh"></span> Rotate</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-move"></span> Drag</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-resize-full"></span> Resize</button>
    <button class="col-xs-2 border-bottom"><span class="glyphicon glyphicon-scissors"></span> Crop</button>
    <button class="col-xs-2 border-bottom" (click) = "goToConfirm()"><span span class="glyphicon glyphicon-ok"></span>Confirm</button>
  </div>


</div>
<div class = "img">
 
   <!-- <img src="{{ImagesInfo?.localImg||ImagesInfo?.cloudImg}}"
   [ngStyle]="{'left': left+'px','top':top+'px'}"
   appImageEditing /> -->
    <button (click)="zoomIn()">+</button>
    <button (click)="zoomOut()">-</button>
    <button (click)="cropEvent()">Crop</button>
    <mat-slider
    [(ngModel)]="sliderValue"
    (change)="onChange()"></mat-slider>
    <angular-cropper #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
    <div *ngIf="croppedImage"><img class="croppedImage" [src]="croppedImage"></div>
    <canvas #myCanvas></canvas> 
</div>

