#editor_bar {
    padding: 10px 0px;
    width: 100px;
  }
  
  #img_input2 {
    display: none;
  }
  #img_label2 {
    background-color: #f2d547;
    border-radius: 5px;
    display: inline-block;
    padding: 8px;
  }
