.jumbotron {
  background-color: #856f6e;
  color: #856f6e;
}

.jumbotron>.glyphicon {
  color: #ffffff;
}



#header>strong {
  font-size: 30px;
  color: #ffffff;
}

#next>strong{
  font-size: 20px;
  color: #ffffff
}

input {
  width: 300px;
  height: 40px;
  border: #ffffff 1px solid;
  outline: none;
  
}

#send {
  height: 44px;
  border: 0px;
  background-color: #856f6e;
  font-size: 30px;
  color: #ffffff
}

#save,#share{
  height: 44px;
  border: 0px;
  background-color: #856f6e;
  font-size: 15px;
  color: #ffffff
}

button{
  border: 1px;
  background-color: #ffffff;
  font-size: 20px;
  color: #856f6e;
}
