<div id="myCarousel" class="carousel slide  ">
  <!-- 轮播（Carousel）指标 -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active" interval="1"></li>
    <li data-target="#myCarousel" data-slide-to="1" interval="1"></li>
    <li data-target="#myCarousel" data-slide-to="2" interval="1"></li>
  </ol>
  <!-- 轮播（Carousel）项目 -->
  <div class="carousel-inner ">
    <div class="item active ">
      <img src="https://static1.squarespace.com/static/5a4e5622aeb625db0f6ae7f8/5af35a3c758d46bbcf56c370/5afc9463352f53fce4e3254b/1526502705039/img_wedding-design_anella.png?format=2500w"
        alt="First slide">
    </div>
    <div class="item ">
      <img src="https://format-com-cld-res.cloudinary.com/image/private/s--n-08dADl--/c_limit,g_center,h_700,w_65535/a_auto,fl_keep_iptc.progressive,q_95/v1/5679f0329846d3072a81883ac2b4f0c3/tal4.jpg"
        alt="Second slide">
    </div>
    <div class="item ">
      <img src="http://www.lakeplacid.com/f/styles/1440x700/public/weddings/mary-ballou-designs_5.jpg?itok=bjPgqxE3"
        alt="Third slide">
    </div>
    <div class="h">
      <div class="word">
      <p class="title">CREATE YOUR OWN CARD</p>
      <p >Provide module pictures. You can also upload your photos.</p>
      <p >Send the result to your friends by e-mail.</p>
    </div>
  </div>
  </div>
  <!-- 轮播（Carousel）导航 -->
  <a class="carousel-control left " href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right " href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
