
  #mainframe {
    height: 700px;
  }
  .edit {
    padding: 5% 8%;
    background-color: rgb(238, 238, 238);
    position: relative;
    height: 90%;
    border-bottom: 5px solid goldenrod;
  }
  .editor_area {
    border: 3px solid rgb(209, 209, 209);
    background: white;
    height: 100%;
    position: relative;
  }